*{
    box-sizing: border-box;
    //border: 1px solid red;
}

.card{
    display: flex;
    flex-direction: column;
    
    &__text-container{
        text-align: center;
      

    }
    &__image{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        
    }
    &__text{
        margin-top: 0;
    }
}